.createMenu {
    max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.createMenu  input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.createMenu .menuAttributeTitle {
    font-size: large;
}