.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.menu-grid-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.menu-column,.create-menu-column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.createMenu input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
}

.createMenu button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5CB6B0;
    color: white;
    transition: background-color 0.3s ease;
}

.createMenu button:hover {
    background-color: #4CAF50;
}

.createMenu select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f6f6;
    box-sizing: border-box;
    cursor: pointer;
}

.createMenu select:focus {
    border-color: #5CB6B0;
}