.menu-container {
    padding: 20px;
}

.menu-grid-container {
    display: flex;
    flex-direction: row;
}

.menu-content {
    flex: 1;
    margin-right: 20px;
}

.create-menu-container {
    flex: 1;
}
