.order-view-container {
    position: relative;
    padding-top: 50px;
  }
  
  .order-view-container h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    z-index: 1;
  }
  
  .order-column-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
  }
  
  .order-column {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    overflow-y: auto;
    height: calc(100vh - 100px);
    margin-right: 20px;
  }
  
  .order-column:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }