:root {
    --body_background: white;
    --body_color: black;
    --link_color: navy;
}

[data-theme="dark"] {
    --body_background: grey;
    --body_color: white;
    --link_color: cyan;
}

[data-theme="light"] {
    --body_background: white;
    --body_color: black;
    --link_color: navy;
}