.booking-container {
    width: 50%; /* Adjust width as needed */
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif; /* Use a web-safe font or import one */
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.counter button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ccc;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.counter span {
    width: 40px;
    display: inline-block;
    margin: 0 10px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.next-button {
    padding: 10px 20px;
    background-color: #17B169;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    margin: 200px;
}

.next-button:hover {
    background-color: #333;
}

.phone-number {
    display: block;
    color: #007BFF;
    margin-bottom: 50px;
}
