.booking-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.counter button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ccc;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.counter span {
    width: 40px;
    display: inline-block;
    margin: 0 10px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.next-button {
    padding: 10px 20px;
    background-color: #17B169;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    margin: 20px;
}

.next-button:hover {
    background-color: #333;
}

.phone-number {
    display: block;
    color: #007BFF;
    margin-bottom: 50px;
}

.timeslot-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
}

.timeslot-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.timeslot-button.selected {
    background-color: #007bff;
    color: #fff;
}

.timeslot-button.selected {
    background-color: #007bff;
    color: #fff;
}

.name-input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border: 1px solid #ccc;
    width: 50%;
}

.email-input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.confirm-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #218838;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}