.navbar {
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E4F3F2;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  
  .navbar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;

  }
  
  .navbar a:hover {
    background-color: #C6D5D6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  body {
    font-family: Arial, sans-serif;
}

  