
.successModalContent {
    position: relative;
    top: 80%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 60px;
    color: white;
    border-radius: 10px;
    background: #5CB6B0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}