/* CreateOrder.css */

.createOrderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.orderSection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

}

.orderColumn {
    width: 50%;
    text-align: left;

}

.menuColumn {
    width: 50%;
    text-align: center;

}

.currentOrderList {
    background-color: #D9D9D9;
    padding: 20px; /* Optional: Add some padding for better appearance */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.heading {
    margin-bottom: 20px;
}

.removeButton {
    background-color: #D23D4C; /* White background */
    color: black; /* Black text */
    padding: 10px 24px; /* Some padding */
    border: 2px solid rgb(186, 9, 9); /* Black border */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 10px; /* Some margin at the top */
    border-radius: 10px;
}

/* Update styles for the disabled button */
.removeButton:disabled {
    background-color: D23D4C; /* White background */
    color: gray; /* Gray text */
    border: 2px solid gray; /* Gray border */
    cursor: not-allowed; /* Not-allowed cursor on hover */
    border-radius: 10px;
}

.submitButton {
    background-color: #5CB6B0; /* White background */
    color: black; /* Black text */
    padding: 10px 24px; /* Some padding */
    border: 2px solid ; /* Black border */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 10px; /* Some margin at the top */
    border-radius: 10px;
}

/* Update styles for the disabled button */
.submitButton:disabled {
    background-color: 5CB6B0; /* White background */
    color: gray; /* Gray text */
    border: 2px solid gray; /* Gray border */
    cursor: not-allowed; /* Not-allowed cursor on hover */
    border-radius: 10px;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}